$font-family-base: "Roboto", sans-serif;
$font-size-base: 16px;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$iris: #4D5AE5;
$ocean: #404BBF;
$navy-blue: #2E2F42;
$green: #31D0AA;
$slate: #434455;
$light-slate: #8E8F99;
$cornflower: #E7E9FC;
$cloud: #F4F4FD;
$navy-blue-modal: #2E2F4240;
$grey: #2E2F4270;
$white: #FFFFFF;
$dairy: #FCFCFC;

$white-border-color: #e7e9fc;
