@import '_variables';

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: $slate;
  background-color: $white;
}

section {
  padding: 120px 0;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 56px;
  line-height: 1.17;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  color: $navy-blue;
}

h3 {
  font-size: 20px;
  font-weight: $font-weight-medium;
  color: $navy-blue;
}

.header {
  padding: 24px 0;
  &__nav {
    display: flex;
    gap: 76px;
  }
  .nav__menu {
    display: flex;
    gap: 40px;
  }
  .nav__logo {
    font-family: "Raleway", sans-serif;
    color: $iris;
    font-weight: $font-weight-bold;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    span {
      color: $navy-blue;
    }
  }
}

.menu__link {
  font-size: 16px;
  font-weight: $font-weight-medium;
  color: $navy-blue;
  letter-spacing: 0.02em;
  &:hover {
    color: $ocean;
  }
  &.active {
    color: $ocean;
  }
}

.contacts {
  &__link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: $slate;
    &:hover {
      color: $ocean;
    }
    &:focus {
      color: $ocean;
    }
  }
}

.hero {
  text-align: center;
  &__title {
    color: $white;
    text-align: center;
    line-height: 1.07;
  }
  &__button {
    padding: 16px 32px;
    background-color: $iris;
    color: $white;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    &:hover {
      background-color: $ocean;
    }
    &:focus {
      background-color: $ocean;
    }
  }
}

.features__list {
  display: flex;
  gap: 24px;
}

.features__item {
  width: 264px;
}

.team {
  background-color: $cloud;
  text-align: center;
  &__title {
    margin-bottom: 72px;
  }
  &__list {
    display: flex;
    gap: 24px;
  }
  &__item {
    background-color: $white;
    padding: 16px;
  }
}

.portfolio {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
}

.footer {
  padding: 100px 0;
  color: $cloud;
  &__logo {
    font-family: "Raleway", sans-serif;
    font-weight: $font-weight-bold;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: $iris;
    span {
      color: $cloud;
    }
  }
}
